*, *:before, *:after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.menu{
  background-color: rgb(255, 255, 255);
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 150px rgb(0, 4, 2);
}
.logo{
  color:rgb(0,0,0);
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold;
  text-decoration:none;
}
.menu_items{
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}
.menu_items li a  {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color:rgb(0, 0, 0);
}
.menu_items li:hover, li.active {
  background-color: rgb(130, 122, 123);
  transition: .4s;
}
.btn_menu{
  margin-right: 30px;
  font-size: 25px;
  color: rgb(0,0,0);
  cursor: pointer;
  display: none;
}
ul.show{
  top: 65px;
}

@media screen and (max-width: 952px){
  .logo{
    padding-left: 25px;
  }
  .menu_items li a{
    font-size: 16px;
  }
}

@media screen and (max-width: 858px){
  .menu{
    height: 65px;
  }
  .btn_menu{
    display:  inline-flex;
  }
  .menu_items{
    position: fixed;
    width: 100vw;
    height: calc(100%-65px);
    background: rgb(51, 57, 52);
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }
  .menu_items li{
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li:hover{
    background: none;
  }
  .menu_items li a {
    font-size: 20px;
    color: rgb(247, 247, 247);
    font-weight: bold;
  }
  .menu_items li a:hover{
    color: rgb(255, 8, 0);
  }
  .logo{
    font-size: 25px;
    padding-left: 35px;
  }
}
